## pandas
1. series
2. DataFrame

In [1]:
import pandas as p
n = [1,2,3,4]
p.Series(n)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
import pandas as p
n = [1,2,3,4,5]
index = [1,2,3,4,5]
p.Series(n,index)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [10]:
n = [1,2,3,4,5]
n1 = p.Series(index)
n1 = n1.reindex(index=[5,3,2,4,1])
p.Series(n1)

5    NaN
3    4.0
2    3.0
4    5.0
1    2.0
dtype: float64

#####

In [11]:
n1

5    NaN
3    4.0
2    3.0
4    5.0
1    2.0
dtype: float64

In [5]:
n = [1,2,3,4,5]

In [7]:
import pandas as p
n1 = p.Series(n)
print(n1)
x = n1.tolist()
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1, 2, 3, 4, 5]

In [9]:
n1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
n2 = [2,3,4,5,6]
n2 = p.Series(n2)
n2

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [12]:
sum1 = n1+n2

In [13]:
sum1

0     3
1     5
2     7
3     9
4    11
dtype: int64

In [14]:
n2

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [15]:
x = n2.tolist()
x

[2, 3, 4, 5, 6]

In [16]:
n1 = n2.tolist()

In [ ]:
d = {'name':'anu','age':'25'}
d = d.Series(d)
d