# problrm solving and programming in python phase-I

### Day-1

* Inaugaration
* Introduction
* Literal programming language
* Jupyter Notebook Environment
* Markdown format
* python basics

### Python Basics
1. Variables
2. keywords
3. Operators

#### Variables
    * Reserved memory location to store a value
    * Python Data Types
        1. int
        2. float
        3. string

In [1]:
#static declaration
n = 10   #integer
n1 = 10.5 #float
n2 = '10.5'  #strint

print(type(n))
print(type(n1))
print(type(n2))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
print(n)
res = str(n)
print(type(res))

10
<class 'str'>

In [14]:
print(n2)
int_val = int(n1)
int_val

10.5

10

In [16]:
# dynamic declaration

int_val1 = int(input())
int_val2 = int(input())
int_val1+int_val2

10
10

20

In [22]:
int_val1 = int(input())
int_val2 = int(input())
int_val1+int_val2

12.3

ValueError: invalid literal for int() with base 10: '12.3'

In [18]:
str1 = input()
str2 = input()
str1+str2

10
10

'1010'

In [20]:
fl_val1 = float(input())
fl_val2 = float(input())
fl_val1+fl_val2

10.6
20.36

30.96

In [21]:
str1 = input()
str2 = input()
str1+str2

15.3
32.63

'15.332.63'

## keywords
* return, else, if, while, continue, break, etc

### Operators
1. arithematic
2. Logical
3. comparision
4. assignment
5. identical
6. membership operators

In [24]:
#Arithematic operators
a = int(input())
b = int(input())
print("sum is: ",a+b)
print("subtraction is: ",a-b)
print("multiplication is: ",a*b)
print("division is: ",a/b)
print("reminder is: ",a%b)
print("power is:",a**b)

5
5
sum is:  10
subtraction is:  0
multiplication is:  25
division is:  1.0
reminder is:  0
power is: 3125

In [29]:
# Logical operators
print(a and b)
print(a or b)

5
5

In [31]:
#comparision operators
print(5<6)
print( 6>4 )
print( 4<=4 )
print(5>=2)

True
True
True
True

In [36]:
# Assignment operators
a+=3
a

11

In [37]:
a-=3
a

8

In [38]:
a*=2
a

16

In [39]:
a**=2
a

256

In [40]:
a/=16
a

16.0

In [41]:
a%=3
a

1.0

### Daya-2

## Strings
   * collection of characters enclosed with double quotes is nothing but string
       1. String Indexing
           1. positive indexing
           2. negative indexing
       1. String Slicing

In [42]:
s = "python"
s

'python'

In [45]:
print(s[3])
print(s[0])
print(s[8])

h
p

IndexError: string index out of range

In [49]:
print(s[-1])
print(s[-3])
print(s[-5])

n
h
y

In [50]:
s[0:4]

'pyth'

In [51]:
s[1:7]

'ython'

In [52]:
s[1:]

'ython'

In [53]:
s[-1:-5]

''

In [54]:
s[-5:-1] #python

'ytho'

In [57]:
s[-6:-1]

'pytho'

In [58]:
s[1:6:2]

'yhn'

In [59]:
s[1:6:3]

'yo'

In [62]:
s[1::6] #python

'y'

In [63]:
s[::-1]

'nohtyp'

In [64]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [65]:
s.title()

'Python'

In [70]:
s.translate('P')

'python'

In [71]:
s.swapcase()

'PYTHON'

In [74]:
s = input()
s1 = s.split()
s2 = (s[0]).upper()
s3 = ((s[1:]).lower()).replace(' ','')
print(s2+s3)

A f s s dc
Afssdc

In [1]:
s = input()
s1 = s.split()
last = (s[-1]).upper()
first = ((s[:-1]).swapcase())
print(first+last)

sdfghjkmnbvfgtyhujk
SDFGHJKMNBVFGTYHUJK

In [3]:
s = input().split()
print(s[0][0],'.',s[1],sep='')

elisala archana
e.archana

In [12]:
s = input().split()
print(s[0][0],'.',end=' ',sep='')
res = s[1:]
for i in res:
    print(i,sep='',end=' ')

elisala anu chinnu
e. anu chinnu

# conditional statements

In [13]:
#even or odd
n = int(input())
if n%2 == 0:
    print("even")
else:
    print("odd")

5
odd

In [14]:
n = int(input())
if n>=18:
    print("eligible")
else:
    print("not eligible")

24
eligible

In [15]:
# biggest of two numbers
a = int(input())
b = int(input())
if a>b:
    print("a is big")
else:
    print("b is big")

10
15
b is big

In [28]:
a,b,c = list(map(int,input().split()))
if a>b and a>c:
    print("a is bigg")
elif b>a and b>c:
    print("b is biggg")
else:
    print("c is bigg")

874 5 6
a is bigg

In [41]:
a,b = list(map(int,input().split()))
if a>0 and b>0:
    if a>b:
        print(a+b)
    else:
        print(a**b)
else:
    print("enter a positive no")

8 1
9

### Iterators

In [42]:
n = int(input())
for i in range(1,n+1):
    print(i)

5
1
2
3
4
5

In [43]:
s = input()
for i in range(1,11):
    print(s)

apssdc
apssdc
apssdc
apssdc
apssdc
apssdc
apssdc
apssdc
apssdc
apssdc
apssdc

In [44]:
for i in s:
    print(i)

a
p
s
s
d
c

In [46]:
#N natural numbers
n = int(input())
for i in range(1,n+1):
    print(i,end=' ')

10
1 2 3 4 5 6 7 8 9 10

In [48]:
#Even numbers in a range
for i in range(1,n+1):
    if i%2 == 0:
        print(i,end=' ')

2 4 6 8 10

In [49]:
#Odd numbers
for i in range(1,n+1):
    if i%2 != 0:
        print(i,end=' ')

1 3 5 7 9

In [51]:
#Even numbers with for loop
for i in range(0,n+1,2):
    print(i,end=' ')

0 2 4 6 8 10

In [53]:
for i in range(1,n+1,2):
    print(i,end=' ')

1 3 5 7 9

In [54]:
for i in range(1,n+1):
    if i%2 == 0:
        print(i,end=' ')
print()
for i in range(1,n+1,2):
    print(i,end = ' ')

2 4 6 8 10
1 3 5 7 9

In [7]:
n = input()
alpha=num=0
for i in n:
    if i.isalpha():
        alpha+=1
    elif i.isnumeric():
        num+=1
print(alpha,num)

anu@123
3 3

In [8]:
for i in n:
    print(ord(i))

97
110
117
64
49
50
51

In [10]:
ord('1')

49

In [11]:
chr(1)

'\x01'

In [17]:
s = input().split()
for word in s:
    for ch in word:
        if word.count(ch)>1:
            print(word)
            break
            #print(word)

archana archana anu
archana
archana

In [20]:
s = input()
len(s)
max(s)
min(s)

anu

'a'